{
  "extends": [
    "@antfu/eslint-config",
    "plugin:typescript-sort-keys/recommended"
  ],
  "plugins": [
    "typescript-sort-keys"
  ],
  "rules": {
    "comma-dangle": [
      "error",
      "never"
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "always",
        "asyncArrow": "always"
      }
    ]
  }
}
